
// BASIC ELEMENTS

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}
html, body, .wrapper {
  position: relative;
  height: 100%;
  background-color: $bg-lm;
  color: $text-lm;
  overflow: auto;
}
h1 {
  font-weight: $bolder;
  font-size: 22px;
  color: $text-lm;
}
h3 {
  font-size: 18px;
}
p, a {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: $text-lm;

  &:focus {
    outline: none;
    box-shadow: $shadow-hover !important;
  }
}
input {
  color: $input-lm;
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $input-lm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-lm;
}

// BUTTON

.btn {
  position: relative;
  display: block;
  height: 20px;
  padding: 10px 60px 10px 60px;
  width: fit-content;
  font-size: 16px;
  box-shadow: $shadow;
  border-radius: 5px;

  &:hover {
    box-shadow: $shadow-hover;
  }
  i {
    left: 25%;
  }
}

// RECTANGLES

.rectangles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .rectangle {
    flex: 1 0 0;
    text-align: center;
    max-width: fit-content;
    font-size: 14px;
    box-shadow: $shadow;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    margin: 0 5px 5px 5px;

    &:not(:first-child) {
      margin-left: 5px;
    }
    &:hover {
      box-shadow: $shadow-hover;
    }
  }
}
