a {
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;

    &.fa-moon {
      background: url('/src/public_site/media/icons/moon-regular.svg') no-repeat center;
      left: -20%;
      width: 100%;
      height: 100%;
    }
    &.fa-arrow-left-long {
      background: url('/src/public_site/media/icons/arrow-left-long-solid.svg') no-repeat center;
      width: 20px;
      height: 20px;
    }
  }
}
i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;

  &.fa-magnifying-glass {
    background: url('/src/public_site/media/icons/magnifying-glass.svg') no-repeat center;
    left: 10%;
  }
}
