.cards {
  margin: 50px 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    flex: 1 0 17.5%;
    max-width: 22.5%;
    background-color: $white;
    box-shadow: $shadow;
    padding: 0 0 35px 0;
    border-radius: 10px;

    &:not(:first-child):not(:nth-child(5n)) {
      margin-left: 40px;
    }
    &:not(:nth-child(4n)) {
      margin-right: 40px;
    }
    &:hover {
      box-shadow: $shadow-hover;
    }
    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    h3 {
      margin: 10px 0 10px 20px;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px 20px;
    }
  }
}
