.cards {
  margin: 50px 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    flex: 1 0 17.5%;
    max-width: 22.5%;
    background-color: $white;
    box-shadow: $shadow;
    padding: 0 0 35px 0;
    margin: 0 40px 25px 40px;
    border-radius: 10px;

    &.first {
      margin-left: 0;
    }
    &.fourth {
      margin-right: 0;
    }
    &:hover {
      box-shadow: $shadow-hover;
    }
    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    h3 {
      margin: 10px 0 10px 20px;
    }
    p {
      font-size: 14px;
      margin: 0 0 5px 20px;
    }
  }
}
