.details {
  margin: 50px 100px 0 100px;

  .country {
    margin-top: 50px;

    img {
      width: 40%;
    }
  }
  .btn {
    &::after {
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      content: "Back";
    }
  }
}
