
// BASIC ELEMENTS

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
html, body {
    height: 100%;
    background-color: $background-color;
    color: $font-primary-color;
    overflow: hidden;
}
a {
    color: $background-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $button-secondary-hover-color;
}