
// BASIC ELEMENTS

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}
html, body, #root, .App {
  position: relative;
  height: 100%;
  background-color: $bg-lm;
  color: $text-lm;
  overflow: hidden;
}
h1 {
  font-weight: $bolder;
  font-size: 22px;
  color: $text-lm;
}
a {
  text-decoration: none;
  color: $text-lm;
}
input {
  color: $input-lm;
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $input-lm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-lm;
}