
// BASIC ELEMENTS

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
html, body {
    height: 100%;
    background-color: $bg-lm;
    color: $text-lm;
    overflow: hidden;
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $input-lm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $text-lm;
}