@font-face {
  font-family: nunito;
  src: url(/src/public_site/font/NunitoSans-Regular.ttf); }

.search {
  padding: 0 100px 0 100px;
  height: 58px;
  margin-top: 50px;
  position: relative;
  font-size: 14px; }
  .search .row {
    height: 100%;
    display: flex; }
    .search .row .col {
      width: 100%;
      margin: auto 0 auto 0;
      text-align: right; }
      .search .row .col .search-bar {
        position: relative;
        width: 400px; }
        .search .row .col .search-bar i {
          width: 20px;
          height: 20px;
          left: 30px; }
        .search .row .col .search-bar input {
          width: 100%;
          border-radius: 5px;
          border: none;
          padding: 20px 20px 20px 60px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
          .search .row .col .search-bar input:focus {
            outline: none;
            box-shadow: 0px 0px 10px black; }
      .search .row .col .region {
        font-size: 14px;
        width: 200px;
        border-radius: 5px;
        border: none;
        padding: 20px 20px 20px 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-color: white;
        cursor: pointer; }
        .search .row .col .region:focus {
          outline: none;
          box-shadow: 0px 0px 10px black; }
        .search .row .col .region option {
          padding: 10px 0 10px 0; }

.cards {
  margin: 50px 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cards .card {
    flex: 1 0 17.5%;
    max-width: 22.5%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 0 0 35px 0;
    border-radius: 10px; }
    .cards .card:not(:first-child):not(:nth-child(5n)) {
      margin-left: 40px; }
    .cards .card:not(:nth-child(4n)) {
      margin-right: 40px; }
    .cards .card:hover {
      box-shadow: 0px 0px 10px black; }
    .cards .card img {
      width: 100%;
      border-radius: 10px 10px 0 0; }
    .cards .card h3 {
      margin: 10px 0 10px 20px; }
    .cards .card p {
      font-size: 14px;
      margin: 0 0 5px 20px; }

.details {
  margin: 50px 100px 0 100px; }
  .details .country {
    margin-top: 50px;
    height: 100%;
    display: flex; }
    .details .country img, .details .country .info {
      width: 100%;
      flex: 1 0 0;
      margin: auto 0 auto 0; }
    .details .country img {
      width: 40%;
      margin-right: 60px; }
    .details .country .info {
      margin-left: 60px; }
      .details .country .info h2 {
        font-size: 30px;
        margin-bottom: 30px; }
      .details .country .info p {
        font-size: 16px; }
      .details .country .info .row {
        width: 100%;
        display: flex; }
        .details .country .info .row .col {
          flex: 1 0 0; }
          .details .country .info .row .col p {
            margin-bottom: 10px; }
      .details .country .info .border-countries {
        display: inline-block;
        margin-top: 50px; }
  .details .btn::after {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    content: "Back"; }

header {
  padding: 0 100px 0 100px;
  background-color: white;
  height: 85px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  header .row {
    height: 100%;
    display: flex; }
    header .row .col {
      width: 100%;
      margin: auto 0 auto 0;
      text-align: right; }
      header .row .col * {
        width: fit-content;
        margin: auto 0 auto 0; }
      header .row .col a {
        position: relative;
        padding: 5px 5px 5px 27.5px;
        border-radius: 5px; }
        header .row .col a:hover {
          box-shadow: 0px 0px 10px black; }
        header .row .col a i {
          width: 20px;
          height: 20px;
          left: 12.5px;
          top: 15px; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: nunito; }

html, body, .wrapper {
  position: relative;
  height: 100%;
  background-color: #fafafa;
  color: #111517;
  overflow: auto; }

h1 {
  font-weight: 800;
  font-size: 22px;
  color: #111517; }

h3 {
  font-size: 18px; }

p, a {
  font-size: 14px; }

a {
  text-decoration: none;
  color: #111517; }
  a:focus {
    outline: none;
    box-shadow: 0px 0px 10px black !important; }

input {
  color: #858585; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111517; }

.btn {
  position: relative;
  display: block;
  height: 20px;
  padding: 10px 60px 10px 60px;
  width: fit-content;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px; }
  .btn:hover {
    box-shadow: 0px 0px 10px black; }
  .btn i {
    left: 25%; }

.rectangles {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .rectangles .rectangle {
    flex: 1 0 0;
    text-align: center;
    max-width: fit-content;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    margin: 0 5px 5px 5px; }
    .rectangles .rectangle:not(:first-child) {
      margin-left: 5px; }
    .rectangles .rectangle:hover {
      box-shadow: 0px 0px 10px black; }

a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%; }
  a i.fa-moon {
    background: url("/src/public_site/media/icons/moon-regular.svg") no-repeat center;
    left: -20%;
    width: 100%;
    height: 100%; }
  a i.fa-arrow-left-long {
    background: url("/src/public_site/media/icons/arrow-left-long-solid.svg") no-repeat center;
    width: 20px;
    height: 20px; }

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px; }
  i.fa-magnifying-glass {
    background: url("/src/public_site/media/icons/magnifying-glass.svg") no-repeat center;
    left: 10%; }

@media (max-width: 1100px) {
  header {
    padding: 0 20px 0 20px; }
  .details {
    margin: 50px 20px 0 20px; }
    .details .country {
      display: block; }
      .details .country img {
        width: 100%;
        margin: 0; }
      .details .country .info {
        margin: 0; }
        .details .country .info h2 {
          margin-top: 30px; }
        .details .country .info .row {
          display: block; }
          .details .country .info .row .col:first-child {
            margin-bottom: 40px; }
        .details .country .info .border-countries {
          margin: 40px 0 10px 0; } }

@media (max-width: 500px) {
  h1 {
    font-size: 18px; } }

@media (max-width: 370px) {
  h1 {
    font-size: 16px; } }

#dark-mode {
  background-color: #202c37; }
  #dark-mode header {
    background-color: #2b3945; }
  #dark-mode * {
    color: white; }
  #dark-mode a:focus {
    box-shadow: 0px 0px 10px white; }
  #dark-mode a:hover {
    box-shadow: 0px 0px 10px white; }
  #dark-mode a i.fa-moon {
    background: url("/src/public_site/media/icons/moon-solid-dark-mode.svg") no-repeat center; }
  #dark-mode a i.fa-arrow-left-long {
    background: url("/src/public_site/media/icons/arrow-left-long-solid-dark-mode.svg") no-repeat center; }
  #dark-mode .btn {
    background-color: #2b3945; }
  #dark-mode .search .row .col .search-bar input {
    background-color: #2b3945; }
    #dark-mode .search .row .col .search-bar input:focus {
      box-shadow: 0px 0px 10px white; }
  #dark-mode .search .row .col .region {
    background-color: #2b3945; }
    #dark-mode .search .row .col .region:focus {
      box-shadow: 0px 0px 10px white; }
  #dark-mode .cards .card {
    background-color: #2b3945; }
  #dark-mode .details .rectangles .rectangle {
    background-color: #2b3945; }
