header {
  padding: 0 100px 0 100px;
  background-color: $white;
  height: 85px;
  box-shadow: $shadow;

  .row {
    height: 100%;
    display: flex;

    .col {
      width: 100%;
      margin: auto 0 auto 0;
      text-align: right;

      * {
        width: fit-content;
        height: 30px;
        margin: auto 0 auto 0;
      }
      a {
        position: relative;
        padding: 5px 5px 5px 27.5px;
        border-radius: 5px;

        &:hover {
          box-shadow: $shadow-hover;
        }
        i {
          width: 20px;
          height: 20px;
          left: 12.5px;
          top: 15px;
        }
      }
    }
  }
}
