header {
  padding: 0 100px 0 100px;
  background-color: $white;
  height: 85px;
  box-shadow: $shadow;

  .row {
    height: 100%;
    display: flex;

    .col {
      width: 100%;
      margin: auto 0 auto 0;
      text-align: right;

      * {
        width: fit-content;
        height: 30px;
        margin: auto 0 auto 0;
      }
      a {
        position: relative;

        i {
          width: 20px;
          height: 20px;
          right: 0;
          top: 10px;
        }
      }
    }
  }
}
